#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-item {
    ion-label {
      font-size: 16px;  // Tama침o de fuente predeterminado
      color: #333;      // Color predeterminado (gris oscuro)
      transition: font-size 0.3s ease, color 0.3s ease; // Transici칩n suave para tama침o y color
    }
  
    &:focus-within {
      ion-label {
        font-size: 12px;  // Tama침o de fuente al enfocar
        color: blue;     // Color azul al enfocar
      }
    }
  }
  